.button-animation:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #242424;
  transition: width .5s ease;
  z-index: -3;
}

.button-animation:hover:before {
  width: 100%;
} 

.button-animation:hover p {
  color: white;
  transition: color .4s linear;
}

.button-animation:hover img {
  filter: invert(100%);
  transition: .7s ease;
}

.button-animation:active {
  transform: scale(1.05);
  transition: transform .2s ease;
}