.block-with-button {
  margin-top: 100px;
  background-color: #B7C09D;
  color: #242424;
  padding: 71px 18.6% 141px 25%;
  display: flex;
  gap: 95px;
  max-width: 809px;
}

@media screen and (max-width: 1024px) {
  .block-with-button {
    padding: 71px 8.6% 141px 15%;
    width: 76.2%;
  }
}

@media screen and (max-width: 864px) {
  .block-with-button {
    padding: 71px 8.6% 141px 15%;
    flex-direction: column;
    gap: 16px;
    width: 77%;
  }
}

@media screen and (max-width: 414px) {
  .block-with-button {
    padding: 56px 29px 72px 25px;
    width: calc(100% - 29px - 25px);
  }
}