.poster__image {
  width: 120px;
  height: 160px;
  padding-right: 32px;
  object-fit: cover;
  grid-area: image;
}

@media screen and (max-width: 767px) {
  .poster__image {
    width: 92px;
    height: 123px;
    padding-right: 5px;
  }
}