.video__section-title {
    margin: 0 0 0 60px;
    width: calc(100% - 60px);
}

@media screen and (max-width: 1280px) {
    .video__section-title {
        margin-left: 45px;
        width: calc(100% - 45px);
    }
}

@media screen and (max-width: 1023px) {
    .video__section-title {
        margin-left: 30px;
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 767px) {
    .video__section-title {
        margin-left: 24px;
        width: calc(100% - 24px);
    }
}