.section-title {
  margin: 0;
  padding: 0 0 48px 300px;
  max-width: 568px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #242424;
}

@media screen and (max-width: 1023px) {
  .section-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
    padding-left: 0;
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 32px;
    font-size: 28px;
    line-height: 1.14;
  }
}