.cooperation__title {
  margin: 0;
  padding: 0;
  max-width: 516px;
  position: relative;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.06;
  letter-spacing: -0.01em;
  color: #242424;
}