.footer__address-direction {
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  padding: 16px 0 0;
  max-width: 157px;
}

@media screen and (max-width: 1023px) {
  .footer__address-direction {
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.6;
    max-width: 280px;
    padding-top: 8px;
  }
}