.poster-border {
  margin-top: 80px;
  display: flex;
}

.poster-border::after {
  height: 268px;
  width: 1px;
  margin-left: 14px;
  border-left: 1px solid #242424;
  content: "";
}

.poster-border:last-of-type:after {
  height: 0;
  width: 0;
  margin: 0;
  border: none;
}

@media screen and (max-width: 990px) {
  .poster-border {
    margin-top: 0;
    flex-direction: column;
  }

  .poster-border::after {
    height: 1px;
    width: 100%;
    margin-left: 0;
    border-left: none;
    border-bottom: 1px solid #242424;
  }
}