.photo-popup__slide {
    margin: 0;
    padding: 0;
    width: 75vw;
    flex-shrink: 0;
    display: flex;
    position: relative;
}

@media screen and (max-width: 767px) {
    .photo-popup__slide {
        width: 100vw;
    }
}