.block-with-button__link {
  text-decoration: none;
  border: 1px solid #242424;
  max-width: 300px;
  width: 100%;
  max-height: 58px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

@media screen and (max-width: 864px) {
  .block-with-button__link {
    align-self: flex-start;
  }
}

@media screen and (max-width: 414px) {
  .block-with-button__link {
    margin-left: 17%;
    width: 83%;
  }
}
