.poster {
  max-width: 420px;
  margin: 0 30px;
  display: grid;
  grid-template-areas:
    "image date"
    "image title"
    "image authors"
    "image about"
    ". buttons";
}

@media screen and (max-width: 980px) {
  .poster {
    margin: 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .poster {
    margin: 30px auto 30px 24px;
    grid-template-areas:
      "image date"
      "image title"
      "image authors"
      "image about"
      "buttons buttons";
  }
}