/* VENDOR */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

/* PAGE */
@import url(../blocks/root/root.css);

/* item-navbar */
@import url(../blocks/navbar-item-animation/navbar-item-animation.css);
/* link-button */
@import url(../blocks/link-button/link-button.css);
@import url(../blocks/link-button/__text/link-button__text.css);
@import url(../blocks/link-button/__img/link-button__img.css);
@import url(../blocks/link-button/__img/_direction/link-button__img_direction_up-right.css);
@import url(../blocks/link-button/__img/_direction/link-button__img_direction_down.css);
@import url(../blocks/link-button/__img/_direction/link-button__img_direction_right.css);
/* section-title */
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_short/section-title_short.css);
@import url(../blocks/section-title/_middle/section-title_middle.css);

/* HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__navbar/header__navbar.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__section/header__section.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__section/_menu/header__section_menu.css);
@import url(../blocks/header/__section/_links/header__section_links.css);
@import url(../blocks/header/__navbar-item/header__navbar-item.css);
@import url(../blocks/header/__navbar-link/header__navbar-link.css);
@import url(../blocks/header/__section/_donation/header__section_donation.css);
@import url(../blocks/header/__donation-link/header__donation-link.css);
@import url(../blocks/header/__donation-icon/header__donation-icon.css);
@import url(../blocks/header/__donation-text/header__donation-text.css);
@import url(../blocks/header/__projects/header__projects.css);
@import url(../blocks/header/__projects-link/header__projects-link.css);
@import url(../blocks/header/__projects-text/header__projects-text.css);
@import url(../blocks/header/__projects-icon/header__projects-icon.css);

/* ---------------------------------CONTENT ----------------------------------*/
/* ELSE */
@import url(../blocks/else/else.css);
@import url(../blocks/else/__title/else__title.css);
@import url(../blocks/else/__container/else__container.css);
@import url(../blocks/else/__text/else__text.css);
@import url(../blocks/else/__image/else__image.css);
/* ABOUT */
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);
/* VIDEO */
/* PHOTO */
/* PERFORMANCES */
@import url(../blocks/performances/performances.css);
@import url(../blocks/performances/__container/_for-single/performances__container_for-single.css);
@import url(../blocks/performances/__container/_mob/performances__container_mob.css);
@import url(../blocks/performances/__title/performances__title.css);
@import url(../blocks/performances/__title/_mob/performances__title_mob.css);
@import url(../blocks/performances/__title/_for-single/performances__title_for-single.css);
@import url(../blocks/performances/__title/_for-double/performances__title_for-double.css);
@import url(../blocks/performances/__posters/perfomances__posters.css);
@import url(../blocks/performances/__posters/_for-double/perfomances__posters_for-double.css);
@import url(../blocks/poster-border/poster-border.css);
@import url(../blocks/poster-border/_for-single/poster-border_for-single.css);
@import url(../blocks/poster/poster.css);
@import url(../blocks/poster/_for-double/poster_for-double.css);
@import url(../blocks/poster/_for-single/poster_for-single.css);
@import url(../blocks/poster/__image/poster__image.css);
@import url(../blocks/poster/__dates/poster__dates.css);
@import url(../blocks/poster/__date/poster__date.css);
@import url(../blocks/poster/__time/poster__time.css);
@import url(../blocks/poster/__title/poster__title.css);
@import url(../blocks/poster/__authors/poster__authors.css);
@import url(../blocks/poster/__author/poster__author.css);
@import url(../blocks/poster/__about/poster__about.css);
@import url(../blocks/poster/__buttons/poster__buttons.css);
@import url(../blocks/poster/__button/poster__button.css);
@import url(../blocks/poster/__button-img/poster__button-img.css);

/* PLAYS */
@import url(../blocks/plays/plays.css);
@import url(../blocks/plays/__cards/plays__cards.css);
@import url(../blocks/plays/__wrapper/plays__wrapper.css);
@import url(../blocks/plays/__slide/plays__slide.css);
@import url(../blocks/plays/__card/plays__card.css);
@import url(../blocks/plays/__card-body/plays__card-body.css);
@import url(../blocks/plays/__card-title/plays__card-title.css);
@import url(../blocks/plays/__card-buttons-container/plays__card-buttons-container.css);
@import url(../blocks/plays/__card-caption/plays__card-caption.css);
@import url(../blocks/plays/__card-caption-title/plays__card-caption-title.css);
@import url(../blocks/plays/__card-caption-city/plays__card-caption-city.css);
@import url(../blocks/plays/__card-caption-year/plays__card-caption-year.css);

/* PERSONS */
@import url(../blocks/persons/persons.css);
@import url(../blocks/persons/__slide/persons__slide.css);
@import url(../blocks/persons/__cards/persons__cards.css);
@import url(../blocks/persons/__wrapper/persons__wrapper.css);
@import url(../blocks/persons/__card/persons__card.css);
@import url(../blocks/persons/__card-photo/persons__card-photo.css);
@import url(../blocks/persons/__card-caption/persons__card-caption.css);
@import url(../blocks/persons/__card-caption-name/persons__card-caption-name.css);
@import url(../blocks/persons/__card-caption-about/persons__card-caption-about.css);

/* BLOCK-WITH-BUTTON */
@import url(../blocks/block-with-button/block-with-button.css);
@import url(../blocks/block-with-button/__title/block-with-button__title.css);
@import url(../blocks/block-with-button/__paragraph/block-with-button__paragraph.css);
@import url(../blocks/block-with-button/__link/block-with-button__link.css);
@import url(../blocks/block-with-button/__arrow/block-with-button__arrow.css);

/* COOPERATION */
@import url(../blocks/cooperation/cooperation.css);
@import url(../blocks/cooperation/__asterisk/cooperation__asterisk.css);
@import url(../blocks/cooperation/__title/cooperation__title.css);
@import url(../blocks/cooperation/__paragraph/cooperation__paragraph.css);
@import url(../blocks/cooperation/__link/cooperation__link.css);
/* ---------------------------------CONTENT ----------------------------------*/

/* FOOTER */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__address-place/footer__address-place.css);
@import url(../blocks/footer/__address-direction/footer__address-direction.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__links-list/footer__links-list.css);
@import url(../blocks/footer/__links-list-item/footer__links-list-item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links-allprojects/footer__links-allprojects.css);
@import url(../blocks/footer/__caption/footer__caption.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__partners-caption/footer__partners-caption.css);
@import url(../blocks/footer/__partners-list/footer__partners-list.css);
@import url(../blocks/footer/__partner-logo/footer__partner-logo.css);
@import url(../blocks/footer/__partner-caption/footer__partner-caption.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__terms/footer__terms.css);
@import url(../blocks/footer/__terms-copyright/footer__terms-copyright.css);
@import url(../blocks/footer/__authors/footer__authors.css);
@import url(../blocks/footer/__designers/footer__designers.css);
@import url(../blocks/footer/__designers-logo/footer__designers-logo.css);
@import url(../blocks/footer/__designers-text/footer__designers-text.css);
@import url(../blocks/footer/__developers/footer__developers.css);
@import url(../blocks/footer/__developers-text/footer__developers-text.css);

/* BURGER-POPUP */
@import url(../blocks/burger-button/burger-button.css);
@import url(../blocks/burger-button/_active/burger-button_active.css);
@import url(../blocks/burger-popup/burger-popup.css);
@import url(../blocks/burger-popup/_opened/burger-popup_opened.css);
@import url(../blocks/burger-popup/__logo/burger-popup__logo.css);
@import url(../blocks/burger-popup/__section/burger-popup__section.css);
@import url(../blocks/burger-popup/__section/_links/burger-popup__section_links.css);
@import url(../blocks/burger-popup/__navbar-item/burger-popup__navbar-item.css);
@import url(../blocks/burger-popup/__navbar-link/burger-popup__navbar-link.css);

/* PHOTO-POPUP */


/* .poster {
  max-width: 420px;
  margin: 0 30px;
  display: grid;
  grid-template-areas:
    "image date"
    "image title"
    "image authors"
    "image about"
    ". buttons";
}

@media screen and (max-width: 944px) {
  .poster {
    margin: 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .poster {
    margin: 30px 0 30px 24px;
    grid-template-areas:
      "image date"
      "image title"
      "image authors"
      "image about"
      "buttons buttons";
  }
}

.poster_for-double {
  margin: 0 60px;
}

@media screen and (max-width: 1279px) {
  .poster_for-double {
    margin: 0 30px;
  }
}

.poster_for-single {
  margin: 3px 0 0 110px;
}

@media screen and (max-width: 1279px) {
  .poster_for-single {
    margin-left: 60px;
  }
}

.poster__image {
  width: 120px;
  height: 160px;
  padding-right: 32px;
  object-fit: cover;
  grid-area: image;
}

@media screen and (max-width: 767px) {
  .poster__image {
    width: 92px;
    height: 123px;
    padding-right: 5px;
  }
}

.poster__dates {
  display: flex;
  grid-area: date;
}

.poster__date {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
}

.poster__time {
  margin: 0 0 0 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  font-feature-settings: "ss01" on;
}

.poster__title {
  margin: 0;
  max-width: 170px;
  font-family: "Neue Machina", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: -0.01em;
  grid-area: title;
}

@media screen and (max-width: 767px) {
  .poster__title {
    margin-top: 15px;
    font-size: 28px;
    line-height: 32px;
  }
}

.poster__authors {
  margin: 20px 0;
  padding-left: 30px;
  grid-area: authors;
}

@media screen and (max-width: 767px) {
  .poster__authors {
    margin: 8px 0;
    padding-left: 0;
  }
}

.poster__author {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.poster__about {
  max-width: 150px;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  grid-area: about;
}

.poster__buttons {
  grid-area: buttons;
}

@media screen and (max-width: 767px) {
  .poster__buttons {
    margin-top: 27px;
    display: flex;
  }
}

.poster__button {
  width: 150px;
  height: auto;
  padding: 5px 0 5px 0;
  margin-top: 15px;
  border-top: none;
  border-right: none;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .poster__button:first-of-type {
    margin-right: 30px;
  }
}

.poster__button-img {
  margin-right: 8px;
}


.poster-border_for-single {
  margin-top: 0;
} */
