.header__donation-link {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  border: none;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .header__donation-link {
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 920px) {
  .header__donation-link {
    padding-left: 3px;
  }
}