.about {
  background-color: #B7C09D;
  padding: 75px 60px 120px 60px;
}

@media screen and (max-width: 1023px) {
  .about {
    padding: 50px 40px 120px 90px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 50px 24px 72px 24px;
  }
}
