.persons {
    margin: 100px 0 0 60px;
    padding: 0;
    width: calc(100% - 60px);
    box-sizing: border-box;
    font-family: 'Formular', 'Arial', sans-serif;
    font-family: 'Neue Machina', 'Arial', sans-serif;
}

@media screen and (max-width: 1280px) {
    .persons {
        margin-left: 45px;
        width: calc(100% - 45px);
    }
}

@media screen and (max-width: 1023px) {
    .persons {
        margin-left: 30px;
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 767px) {
    .persons {
        margin-left: 24px;
        width: calc(100% - 24px);
    }
}