.photo-popup__button {
    position: absolute;
    top: 50vh;
    width: 60px;
    height: 60px;
    background-image: url(../../../images/icon_slider_arrow.svg);
    border: none;
    border-radius: 50%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* .photo-popup__button::before {
    content: '';
    width: 25px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    box-sizing: border-box;
    top: 5px;
    left: 5px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    border: 1px solid #242424;
    border-right: none;
    transition: transform linear 0.2s;
    transform-origin: 25px 25px;
}

.photo-popup__button:hover::before {
    transform: rotate(180deg);
}

.photo-popup__button:hover {
    padding: 0;
    border-radius: 50% 50%;
} */

.photo-popup__button:active {
    transform: scale(1.1);
    transition-delay: 0s;
}