.block-with-button__paragraph {
  max-width: 410px;
  font-family: 'Formular';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  margin: 0;
  padding: 20px 0 0;
}