.burger-button {
  width: 72px;
  height: 72px;
  padding: 0;
  border: none;
  position: fixed;
  right: 0;
  top: 40px;
  background: #242424  no-repeat center;
  background-image: url(../../images/icon_burger_menu.svg);
  background-size: 20px 12px;
  cursor: pointer;
  display: none;
  z-index: 11;
  transition-property: background-image, background-size;
  transition-timing-function: linear;
  transition-duration: .2s, .2s;
}

@media screen and (max-width: 767px) {
  .burger-button {
  display: block;
 }
}